# Aggregate Analysis
## Bike Data
### Beverly Pham
### 03/26/2018

In [1]:
# Global installs for required packages
import pandas as pd
import numpy as np
from datetime import date

In [2]:
# read in bike game data file with pands
dfs = pd.read_csv('./cycle-share-dataset/station.csv')
dft = pd.read_csv('./cycle-share-dataset/trip.csv', error_bad_lines=False)
dfw = pd.read_csv('./cycle-share-dataset/weather.csv')
dft = dft.drop_duplicates()

b'Skipping line 50794: expected 12 fields, saw 20\n'

### What is the average trip duration for a borrowed bicycle?

In [13]:
trip_dur = dft['tripduration'].mean()
trip_dur

1202.6122102556499

### What's the most common age of a bicycle-sharer?

In [4]:
age = dft['birthyear'].mean()
age = date.today().year - int(round(age))
age

38

### Given all the weather data here, find the average precipitation per month, and the median precipitation.

In [5]:
dfw['Date'] = pd.to_datetime(dfw['Date'], errors='coerce')
dfw['Month'] = dfw['Date'].dt.month

avg_pcp = pd.DataFrame(dfw[['Precipitation_In']]).groupby(dfw.Month).mean()
avg_pcp

       Precipitation_In
Month
1              0.143548
2              0.168421
3              0.156935
4              0.051333
5              0.012419
6              0.030500
7              0.012097
8              0.018226
9              0.041000
10             0.189000
11             0.187833
12             0.236290

In [6]:
median_pcp = pd.DataFrame(dfw['Precipitation_In']).groupby(dfw.Month).median()
median_pcp

       Precipitation_In
Month
1                 0.020
2                 0.040
3                 0.025
4                 0.000
5                 0.000
6                 0.000
7                 0.000
8                 0.000
9                 0.000
10                0.040
11                0.035
12                0.100

### What’s the average number of bikes at a given bike station?

In [7]:
bikes = dfs['current_dockcount'].mean()
bikes

16.517241379310345

### When a bike station is modified, is it more likely that it’ll lose bikes or gain bikes? How do you know?

In [8]:
# If average # of current docks is more than average # of installed docks, the station is more likely to gain bikes
current = dfs['current_dockcount'].mean()
installed = dfs['install_dockcount'].mean()
if current > installed:
    print('Gain Bikes')
elif current < installed:
    print('Lose Bikes')
else:
    print('Stay the same')

Lose Bikes

### What's the most popular station to borrow a bike from?

In [9]:
popular = pd.DataFrame(dft['from_station_name']).groupby(dft.from_station_name).count()
popular = popular.sort_values('from_station_name', ascending=False)
popular.head(1)

                                 from_station_name
from_station_name
Pier 69 / Alaskan Way & Clay St              11274

### Do more males or females borrow bikes?

In [10]:
sex = pd.DataFrame(dft['gender'].groupby(dft.gender).count())
sex

        gender
gender
Female   30330
Male    112940
Other     2901

### Station with most current bikes?

In [12]:
bikes = pd.DataFrame(dfs[['name', 'current_dockcount']].sort_values('current_dockcount', ascending=False))
bikes.head(1)

                                      name  current_dockcount
17  Cal Anderson Park / 11th Ave & Pine St                 26